@using FitMate.Controllers;
@using FitMate.Infrastucture.Dtos.Goals;
@using FitMate.Presentation.Helpers;
@model GoalDto

@{
    ViewData["FormAction"] = nameof(GoalController.Update);
}

<h1 class="ml-1">Edit Goal</h1>

<div class="container w-25 ml-2">
    @await Html.PartialAsync("Partial/_GoalForm", Model)
</div>

@section Scripts
{
    <script src="~/js/Goal/editgoal.js"></script>
}