<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourSportTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap_overrides.css" />
</head>
<body class="h-100">

    <main role="main" class="p-0 ml-3 mr-2">
        @RenderBody()
    </main>

    <script src="https://kit.fontawesome.com/a02247f0e6.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
    </div>
    </div>
</body>
    <script src="https://kit.fontawesome.com/98aac1275f.js" crossorigin="anonymous"></script>
</html>