<div class="modal fade" id="TargetModal" tabindex="-1" aria-labelledby="TargetModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Target</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Bodyweight" asp-action="EditTarget" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Weight</label>
                        <input class="form-control" name="TargetWeight" type="number" min="1" max="300" value="@(Model.Target == null ? "0" : Model.Target.TargetWeight)" required />
                    </div>

                    <div class="form-group">
                        <label>Target Date</label>
                        <input class="form-control" name="TargetDate" type="date" value="@(Model.Target == null ? "0" : Model.Target.TargetDate.ToString("yyyy-MM-dd"))" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>